/* pt-sans-regular - latin */
@font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/pt-sans-v11-latin-regular.eot');
    /* IE9 Compat Modes */
    src: local('PT Sans'), local('PTSans-Regular'),
        url('../fonts/pt-sans-v11-latin-regular.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/pt-sans-v11-latin-regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/pt-sans-v11-latin-regular.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/pt-sans-v11-latin-regular.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/pt-sans-v11-latin-regular.svg#PTSans') format('svg');
    /* Legacy iOS */
}

/* alef-regular - latin */
@font-face {
    font-family: 'Alef';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/alef-v11-latin-regular.eot');
    /* IE9 Compat Modes */
    src: local('Alef Regular'), local('Alef-Regular'),
        url('../fonts/alef-v11-latin-regular.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/alef-v11-latin-regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/alef-v11-latin-regular.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/alef-v11-latin-regular.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/alef-v11-latin-regular.svg#Alef') format('svg');
    /* Legacy iOS */
}

/* source-sans-pro-regular - latin */
@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/source-sans-pro-v13-latin-regular.eot');
    /* IE9 Compat Modes */
    src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'),
        url('../fonts/source-sans-pro-v13-latin-regular.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/source-sans-pro-v13-latin-regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/source-sans-pro-v13-latin-regular.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/source-sans-pro-v13-latin-regular.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/source-sans-pro-v13-latin-regular.svg#SourceSansPro') format('svg');
    /* Legacy iOS */
}

:root {
    --accent-color: #1B1C22;
    --background-color: #262730;
    --text-color: #E3E9ED;
    --text-alt-color: #b8d7e0;
    --text-accent-color: #AFBDC7;
    --hover-color: #ddd;
    --carousel-color: #fff;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'PT Sans';
}

.intro {
    text-align: center;
    vertical-align: middle;
    height: 400px;
}

svg {
    height: 150%;
    width: 100%;
    stroke: none;
    fill: var(--accent-color);
}

.hillside {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

html,
body {
    margin: 0;
    padding: 0;
}

.carousel {
    margin-left: 1%;
    margin-right: 1%;
}

ul.slides {
    display: block;
    position: relative;
    height: 500px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style: none;
}

.slides * {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

ul.slides input {
    display: none;
}


.slide-container {
    display: block;
}

.slide-image {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    opacity: 0;
    transition: all .7s ease-in-out;
}

.slide-image img {
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
}

.carousel-controls {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    font-size: 100px;
    line-height: 600px;
    color: var(--carousel-color);
}

.carousel-controls label {
    display: none;
    position: absolute;
    padding: 0 20px;
    opacity: 0;
    transition: opacity .2s;
    cursor: pointer;
}

.slide-image:hover+.carousel-controls label {
    opacity: 0.5;
}

.carousel-controls label:hover {
    opacity: 1;
}

.carousel-controls .prev-slide {
    width: 49%;
    text-align: left;
    left: 0;
}

.carousel-controls .next-slide {
    width: 49%;
    text-align: right;
    right: 0;
}

.carousel-dots {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
    z-index: 999;
    text-align: center;
}

.carousel-dots .carousel-dot {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--carousel-color);
    opacity: 0.5;
    margin: 10px;
}

input:checked+.slide-container .slide-image {
    opacity: 1;
    transform: scale(1);
    transition: opacity 1s ease-in-out;
}

input:checked+.slide-container .carousel-controls label {
    display: block;
}

input#img-1:checked~.carousel-dots label#img-dot-1,
input#img-2:checked~.carousel-dots label#img-dot-2,
input#img-3:checked~.carousel-dots label#img-dot-3,
input#img-4:checked~.carousel-dots label#img-dot-4,
input#img-5:checked~.carousel-dots label#img-dot-5,
input#img-6:checked~.carousel-dots label#img-dot-6 {
    opacity: 1;
}


input:checked+.slide-container .nav label {
    display: block;
}

.container {
    max-width: 800px;
    margin: 50px auto;
}

.feature {
    display: flex;
    color: var(--text-color);
    align-items: center;
    justify-content: space-between;
    margin: 100px auto;
}

.feature img {
    width: 150px;
    height: 150px
}

.feature .image {
    max-width: 20%;
}

.feature .content {
    width: 80%;
    display: inline-block;
    margin-left: 50px;
}

.feature-type {
    display: flex;
    margin: 100px auto;
    align-items: center;
    justify-content: space-between;

}

.feature-type .personal {
    flex: 1 1 50%;
    text-align: center;
    padding: 0 15px;

}

.feature-type .host {
    flex: 1 1 50%;
    text-align: center;
    padding: 0 15px;
}

.biglink {
    font-size: 25px;
    text-decoration: underline;
}

.header {
    display: inline-block;
    text-align: center;
}

.header h1 {
    font-size: 74px;
    font-family: 'Source Sans Pro';
}

h1 {
    font-family: 'Source Sans Pro';
}

.center {
    text-align: center;
}

.icon {
    width: 50px;
    height: 50px;
}

.button {
    background-color: var(--text-color);
    color: var(--background-color) !important;
    border: none;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
}

p {
    color: var(--text-accent-color);
    font-size: 20px;
}

.navbar {
    overflow: hidden;
    /* Hide overflow */
}

.navbar a {
    float: left;
    display: block;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navbar a.right {
    float: right;
}

.navbar a:hover {
    background-color: var(--hover-color);
    color: black;
}

* {
    box-sizing: border-box;
}


@media screen and (max-width: 400px) {
    .navbar a {
        float: none;
        width: 100%;
    }
}

.footer-content {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
    grid-column-gap: 40px;

}

.footer {
    padding: 10px;
    background: var(--accent-color);
    font-family: 'Source Sans Pro';
}

.footercontents {

    max-width: 800px;
}

.sidebar-layout {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 260px minmax(300px, 820px);
    grid-template-rows: auto;
    margin-bottom: 30px;
}


.sidebar-container {
    max-width: 1080px;
    margin: 50px auto;
}

.sidebar {
    font-weight: bold;
}

.sidebar ul li {
    font-family: "PT sans"; 
    font-size: 15px;
    margin-bottom: 26px;
    padding: 10px;
    font-weight: bold;
    
}

.opensim-brand {
    font-size: 30px;
}

.sub-title {
    display: block;
    padding: 10px;
    font-weight: bold;
    font-family:alef;
}

.docs-content {
    font-size: 18px;
}
.docs-content img{
    display: block;
}

.img-right{
    margin-left:auto;
}

.img-center{
    margin-left:auto;
    margin-right: auto;
    width:100%;
}

ul {
    list-style: none;
    padding: 0;
}


.credits {
    text-align: right;
    margin-right: 50px;
}

/* visited link */
a:visited {
    color: var(--text-accent-color);
    text-decoration: none;
}

/* selected link */
a:active {
    color: var(--text-accent-color);
    text-decoration: none;
}

a:link {
    color: var(--text-accent-color);
    text-decoration: none;
}
