<div class="footer">
    <div class="container">
        <div class="footer-content">
            <div class="f">
                <h3> Project </h3>
                <ul>
                    <li>
                        <a href="/start"> Get Started </a>
                    </li>
                    <li>
                        <a href="/apps"> Apps </a>
                    </li>
                </ul>
            </div>
            <div class="f">
                <h3> Resources </h3>
                <ul>
                    <li>
                        <a href="/"> Code </a>
                    </li>
                    <li>
                        <a href="/apps"> Documentation </a>
                    </li>
                    <li>
                        <a href="/apps"> Dev IRC</a>
                    </li>
                </ul>
            </div>
            <div class="f">
                <h3> Community </h3>
                <ul>
                    <li>
                        <a href="/"> Chat </a>
                    </li>
                    <li>
                        <a href="/"> Contribute </a>
                    </li>

                </ul>

            </div>
        </div>
    </div>
    <div class="credits">
        <div>Icons made by: <a href="https://www.flaticon.com/free-icon/computer_2905292" title="xnimrodx">xnimrodx</a>, <a href="https://www.flaticon.com/authors/srip" title="srip">srip</a>, <a href="https://www.flaticon.com/authors/prosymbols" title="Prosymbols">Prosymbols</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
    </div>

</div>
